@page
@model Ishant_Goyal.Pages.Courses.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Course</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Course.CourseId" />
            <div class="form-group">
                <label asp-for="Course.CourseName" class="control-label"></label>
                <input asp-for="Course.CourseName" class="form-control" />
                <span asp-validation-for="Course.CourseName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Course.IsActive" class="control-label"></label>
                <input type="checkbox" data-val="true" data-val-required="The IsChecked field is required." id="Course.IsActive" name="Course.IsActive" value="true">
                <input name="Course.IsActive" type="hidden" value="false" asp-for="Course.IsActive">
                <span asp-validation-for="Course.IsActive" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
