@page
@model Ishant_Goyal.Pages.Students.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Student</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Student.Id" />
            <div class="form-group">
                <label asp-for="Student.FirstName" class="control-label"></label>
                <input asp-for="Student.FirstName" class="form-control" />
                <span asp-validation-for="Student.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.LastName" class="control-label"></label>
                <input asp-for="Student.LastName" class="form-control" />
                <span asp-validation-for="Student.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.Dob" class="control-label"></label>
                <input asp-for="Student.Dob" class="form-control" />
                <span asp-validation-for="Student.Dob" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.Fees" class="control-label"></label>
                <input asp-for="Student.Fees" class="form-control" />
                <span asp-validation-for="Student.Fees" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.CourseId" class="control-label"></label>
                <input asp-for="Student.CourseId" class="form-control" />
                <span asp-validation-for="Student.CourseId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.Email" class="control-label"></label>
                <input asp-for="Student.Email" class="form-control" />
                <span asp-validation-for="Student.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.Tax" class="control-label"></label>
                <input asp-for="Student.Tax" class="form-control" />
                <span asp-validation-for="Student.Tax" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.EnrollmentDate" class="control-label"></label>
                <input asp-for="Student.EnrollmentDate" class="form-control" />
                <span asp-validation-for="Student.EnrollmentDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.Grade" class="control-label"></label>
                <input asp-for="Student.Grade" class="form-control" />
                <span asp-validation-for="Student.Grade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.StateCode" class="control-label"></label>
                <select asp-for="Student.StateCode" class="form-control" asp-items="ViewBag.StateCode"></select>
                <span asp-validation-for="Student.StateCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.CityCode" class="control-label"></label>
                <select asp-for="Student.CityCode" class="form-control" asp-items="ViewBag.CityCode"></select>
                <span asp-validation-for="Student.CityCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
